
  <label for="title">Item Title</label>
  <input type="text" name="title" required>

  <label for="description">Description</label>
  <textarea name="description" required></textarea>

  <label for="link">Instruction manual link</label>
  <input type="url" name="link" required>

  <label for="printTime">Print Time</label>
  <input type="text" name="printTime" required>

  <label for="material">Materials</label>
  <input type="text" name="material" required>

  <label for="glue">Requires Glue</label>
  <input type="checkbox" name="glue">

  <label for="pieces">Number of Pieces</label>
  <input type="number" name="pieces" required>

  <label for="weight">Weight</label>
  <input type="text" name="weight" required>

  <label for="photos">Images</label>
  <input type="file" name="photos" class="filepond" multiple>

