<li class="cart-item">
    <div class="image">
        <img src="/Icons/car3.png" alt="Hotrod model">
    </div>
    <div class="info">
        <h2>Hotrod model 1/10 scale</h2>
        <p>✅ Stl files</p>
        <p>✅ Instructions</p>
        <hr>
        <p class="price">42.99$</p>
    </div>
    <div class="remove">
        <button>&times;</button>
    </div>
</li>