<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=viewport-width, initial-scale=1.0">
    <title>Anka_Customs</title>
    <link rel="stylesheet" href="style.css">
</head>

<body style="background-color: #f4f6f6;">
    <div id="header_container">
        <%- include("partials/header") %>
    </div>
    <div class="about_me">
        <h1>About Me</h1>
        <p>Welcome to Anka_customs! I'm a passionate model maker specializing in creating high-quality, 1/16 scale
            models. With over a year of experience, I strive to design and produce detailed RC car models that stand out
            for their realism and precision.</p>
        <p>Each model is carefully crafted to provide enthusiasts with a unique and customizable RC experience. I’m
            committed to bringing creativity and accuracy to every project, ensuring that each piece reflects the hard
            work and dedication I put into this craft.</p>
        <p>Thank you for stopping by, and I hope you enjoy exploring my creations!</p>
    </div>
    <div id="footer_container">
        <%- include("partials/footer") %>
    </div>
    <script src="test.js"></script>
</body>