<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="stylesheets/cart.css">
</head>

<body>
    <div class="header">
        <%- include('partials/header') %>
    </div>
    <h1>Your Cart</h1>
    <div class="cart-page">
        <div class="cart-container">
            <ul class="cart-items">
                <%- include('partials/cartshort') %>
            </ul>
            <div class="checkout-summary">
                <div class="summary">
                    <p>Subtotal <span>$85.98</span></p>
                    <p>Taxes <span>$0.00</span></p>
                    <hr>
                    <p><strong>Total</strong> <span><strong>$85.98</strong></span></p>
                    <button class="checkout-btn">Checkout</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <%- include('partials/footer') %>
    </div>
</body>

</html>