<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anka_customs</title>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
  <div class="header">
    <%- include("partials/header") %>
  </div>
  <div class="top-wrapper">
    <div class="bigpic">
      <img src="/Icons/background.png" alt="background" id="bg">
    </div>
    <img src="/Icons/cars.png" alt="cars" class="cars">
    <div class="text-pos">
      <div class="content">
        <div class="content__container">
          <p>Our design</p>
          <p>is</p>
          <ul class="content__container__list">
            <li class="content__container__list__item">clean</li>
            <li class="content__container__list__item">problem free</li>
            <li class="content__container__list__item">clever</li>
          </ul>
        </div>
      </div>
    </div>
    <form action="/cars">
      <button type="submit" class="shop">Shop Now</button>
    </form>
  </div>
  <div class="cars-text">
    <h1>Latest cars</h1>
    <a href="/cars">see all</a>
  </div>
  <div class="cars-list">
    <ul>
      <% for (let i=0; i < allFiles.length; i++) { %>
        <%- include('partials/fileshort', { file: allFiles[i] }) %>
          <% if(i==4){ break} %>
            <% } %>
    </ul>
  </div>
  <div class="cars-text">
    <h1>Latest accessories</h1>
    <a href="/accessories">see all</a>
  </div>
  <div class="cars-list">
    <ul>
      <% for (let i=0; i < allFiles.length; i++) { %>
        <%- include('partials/fileshort', { file: allFiles[i] }) %>
          <% if(i==4){ break} %>
            <% } %>
    </ul>
  </div>
  <div class="footer">
    <%- include("partials/footer") %>
  </div>
</body>
<script>
  const slidingText = document.querySelector('.sliding-text');
  const words = ["clean", "problem free", "clever"];

  let index = 0;

  function changeText() {
    slidingText.style.transition = 'ease';
    slidingText.style.transform = 'translateY(0)';
    index = (index + 1) % words.length;

    setTimeout(() => {
      slidingText.style.transition = 'transform 1s';
      slidingText.style.transform = `translateY(-100%)`;

      setTimeout(() => {
        slidingText.textContent = words[index];
      }, 400);
    }, 2000);
  }

  setInterval(changeText, 2000);
</script>

</html>