<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry</title>
</head>
<style>
    #message{
        text-align: center;
        margin-top: 100px;
    }
</style>
<body>
    <div class="header">
        <%- include('partials/header') %>
    </div>
    <main>
        <h1 id="message">Sorry, due to payment issues we are unable to process this transaction</h1>
    </main>
    
</body>
</html>