<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfull</title>
    <link rel="stylesheet" href="stylesheets/successfull.css">
</head>

<body>
    <div class="header">
        <%- include('partials/header') %>
    </div>
    <main>
        <!-- Main Thank You Container (Centered) -->
        <div class="thank-you-container">
            <div class="thank-you-message">
                <h1>Thank you for shopping with us</h1>
                <p>Your order (#13132) has been successfully placed.</p>
                <a href="#">View files to download</a>
            </div>
        </div>
    </main>

    <!-- Dotted Circles in Background -->
    <div class="circle small"></div>
    <div class="circle medium"></div>
    <div class="circle large"></div>
    <div class="circle extra-large"></div>
    <div class="circle extra-extra-large"></div>
    <div class="footer">
        <%- include('partials/footer') %>
    </div>
</body>

</html>