<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account details</title>
    <link rel="stylesheet" href="/stylesheets/detailStyle.css">
</head>

<body>
    <div class="header">
        <%- include('../partials/header.ejs', {username: 'hun'}) %>
    </div>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar-container">
            <%- include('../partials/userSidebar.ejs') %>
        </div>
        
        <!-- Main Content -->
        <div class="content">
            <h2>Account Details</h2>
            <form class="account-form" action="/resetPassword" method="post">
                <label for="email">Email Address*</label><br>
                <input type="email" id="email" value="<%= email %>">

                <h3>Change Password</h3>

                <label for="current-password">Current Password (Leave blank to remain unchanged)</label><br>
                <input type="password" id="current-password" name="password" value="<%= password %>"><br>

                <label for="new-password">New Password (Leave blank to remain unchanged)</label><br>
                <input type="password" id="new-password" name="newpassword"><br>

                <label for="confirm-password">Confirm new password (Leave blank to remain unchanged)</label><br>
                <input type="password" id="confirm-password" name="matchpassword"><br><br>

                <div class="checkbox-container">
                    <input type="checkbox" id="subscribe">
                    <label for="subscribe">Subscribe to product updates</label>
                </div>

                <input type="submit" value="Save changes" class="save-button">
            </form>
        </div>
    </div>
</body>

</html>