<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloads</title>
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <button class="sidebar-button active" onclick="window.location.href='userpanelAccountDetails.html'">
                <img src="Icons/user.png" alt="Account Icon"> Account details
            </button>
            <button class="sidebar-button">
                <img src="Icons/download.webp" alt="Download Icon"> Downloads
            </button>
            <button class="sidebar-button" onclick="window.location.href='Login.html'">
                <img src="Icons/logout.png" alt="Logout Icon"> Log out
            </button>
        </aside>

        <!-- Content -->
        <div class="content">
            <h2>Account Details</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Downloads Remaining</th>
                        <th>Downloads</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dakar Truck</td>
                        <td>20</td>
                        <td>Download</td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>