<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloads</title>
    <link rel="stylesheet" href="/stylesheets/downloadStyle.css">
</head>
<body>
    <div class="header">
        <%- include('../partials/header.ejs')  %>
    </div>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar-container">
            <%- include('../partials/userSidebar.ejs') %>
        </div>

        <!-- Content -->
        <div class="content">
            <h2>Downloads</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Downloads Remaining</th>
                        <th>Downloads</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dakar Truck</td>
                        <td>20</td>
                        <td>Download</td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>