* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Commissioner';
}
main{
    margin: 65px 80px;
}
#type{
    margin-bottom: 28px;
}