@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Commissioner';
}

body {
    display: flex;
}

.fileList{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}

.file-image{
    height: 100px;
}