.container {
    display: flex;
    justify-content: space-between;
    margin: 65px 120px;
}

/* mainsector */
.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 450px;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.content input[type="email"],
.content input[type="password"] {
    flex: 0 0 auto;
    font-size: 20px;
    margin-top: 5px;
    height: 30px;
    border-radius: 8px;
    width: 40%;
}

.content label {
    margin-top: 50px;
}

.content input[type="submit"] {
    font-size: 18px;
    margin-top: 15px;
    border: 0;
    border-radius: 10px;
    background-color: #3B93A7;
    color: white;
    padding: 10px 30px;

}
.error-message{
    margin-top: 10px;
    color: red;
}
@media screen {}