@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
}


.top-wrapper {
    position: relative;
    height: 610px;
    width: 100%;
}

.top-wrapper #bg {
    height: 100%;
    width: 100%;
}

.top-wrapper .shop {
    position: absolute;
    /* set button to an absolute position */
    bottom: 10px;
    /* adjust the top position of the button */
    right: 80px;
    /* adjust the left position of the button */
    z-index: 2;
    /* set a higher z-index than the image */
    font-size: 2.5em;
    font-weight: 600;
    border-radius: 14px;
    background-color: #3b93a7;
    /* set your desired background color */
    color: #fff;
    /* set your desired text color */
    border: none;
    /* remove button border */
    padding: 20px 35px;
    /* set your desired padding */
    cursor: pointer;
    /* change mouse cursor on hover */
}

.top-wrapper .shop:hover {
    background-color: #2f8295;
}

.cars-text {
    margin: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cars-text h1 {
    color: black;
    font-size: 3em;
}

.cars-text a {
    color: #3b93a7;
    font-size: 2em;
    font-weight: 600;
}

.cars-list ul {
    display: flex;
    gap: 30px;
    margin: 10px 80px;
}

.cars-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    box-shadow: 4px 4px 16px 1px rgba(0, 0, 0, 0.25);
    height: 360px;
    width: 295px;

}
.cars-list li .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 30px 30px 30px ;
}
.cars-list li .infos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cars-list li .stats {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cars-list .title {
    font-size: 1.5em;
    font-weight: 450;
}

.cars-list .price {
    font-size: 1.5em;
    font-weight: 600;
}

.cars-list li .downcount,
.reviewcount {
    display: flex;
}

.cars-list .downloads {
    height: 18px;
}

.cars-list .ratings {
    height: 16px;
}

.cars-list .addtocart:link,
.cars-list .addtocart:visited {
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: #3b93a7;
    text-align: center;
    padding: 15px 0px;
    width: 100%;
    border-radius: 13px;
}
.cars-list .addtocart:hover{
    background-color: #2f8295;
}

.cars-list .file-image {
    padding: 30px 30px 10px 30px;
    height: 190px;
    width: 100%;
    overflow: hidden;
}