<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="stylesheets/register.css">
</head>

<body style="background-color: #f4f6f6;">
    <div id="header_container">
        <%- include("../partials/header") %>
    </div>
    <div class="register">
        <form method="post" action="/register">
            <h1>Register</h1>
            <label for="name">Name</label><br>
            <input type="text" id="name" name="username" required><br>

            <label for="username">Email</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="pass" required>

            <input type="checkbox" id="checkbox" name="terms" required>
            <label for="terms"> Accept our <b>terms and conditions*</b></label><br>

            <p>Have an account? <a href="/login">Login</a>
            </p>
            <input type="submit" value="register">
        </form>

    </div>
    <div id="footer_container"><%- include("../partials/footer") %></div>
</body>

</html>